:root {
  --color-50: #fffaf0;
  --color-100: #feebc8;
  --color-200: #fbd38d;
  --color-300: #f6ad55;
  --color-400: #ed8936;
  --color-500: #dd6b20;
  --color-600: #c05621;
  --color-700: #9c4221;
  --color-800: #7b341e;
  --color-900: #652b19;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
}

/* what the fuck is this shit? */
/* body {
  height: 100vh;
  width: 100vh;
  min-height: 100vh;
  max-width: 400px;
  background-color: white;
  margin: 0 auto; 
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  height: 100vh;
}

.header-item {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #183b56;
  font-weight: 800;
  line-height: 40px;
  position: relative;
}

.header-item > .orange-highlight {
  position: absolute;
  background-color: #ffa87d;
  width: 50px;
  height: 15px;
  bottom: 20%;
  left: 42.5%;
  z-index: -1;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-row-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.second-row-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  width: 300px;
  height: 250px;
  border: 1px solid #ededed;
  border-radius: 8px;
  margin: 20px;
  color: #183b56;
  position: relative;
  padding: 15px;
}

.item > .logo {
  padding-bottom: 65px;
}

.item > p {
  line-height: 30px;
}

.item > .dark-orange-background {
  padding-bottom: 35px;
}

.orange-box {
  background: #ff8345;
  border-radius: 8px;
}

.topics {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.accounting {
  background-color: #b3bac5;
}

.job-available {
  font-family: "Poppins", sans-serif;
}

.orange-box {
  padding-top: 70px;
  padding-left: 40px;
}
.orange-box > p {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.deco-top-right {
  position: absolute;
  top: 10%;
  right: 1%;
  z-index: -3;
}

.deco-top-left {
  position: absolute;
  bottom: 2%;
  z-index: -4;
}

.blue-arrow {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.white-arrow {
  position: absolute;
  right: 30%;
  bottom: 40%;
}

.orange-background,
.dark-orange-background {
  position: relative;
}

.dollar-sign {
  position: absolute;
  left: 15%;
  top: 15%;
}

.pen {
  position: absolute;
  left: 12%;
  top: 12%;
}

@media only screen and (max-width: 600px) {
  .first-row-items,
  .second-row-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .header-item {
    position: relative;
  }

  .orange-highlight {
    position: absolute;
    bottom: 10%;
    left: 10%;
  } */
}
